body {
  
	background-color: #f0f0f0;
	margin: 0;
	color: #0a0a0a;
	font-family: Afacad Flux;
	width: "70%";
	display:flex;
}

.filler-block {
    width: 35%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar {
	width: 25%;
	color: #f0f0f0;
	height: 80vh;
	padding: 10% 0;
	box-sizing: border-box;
	align-items: center;
	position: absolute;
	top: 10%;
	left: 10%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;

}
    

.sidebar button {
	display: block;
	width: 100%;
	padding: 10px;
	background: none;
	border: none;
	color: black;
	text-align: left;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	font-family: Afacad Flux;

	position: relative;
	transition: transform 0.5s ease, background 0.3s ease, color 0.3s ease;
	left: 0;
}

.sidebar button:hover, .sidebar button.active {
	background: #c26161;
	color: #f0f0f0;
	transform: translateX(-20px);

}


/* Content styles */
.content {
	
	flex: 1;
	padding: 10% 12% 0 5%;
	
}



@keyframes fadeIn {
        from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.content-section {
	display: none;
}


.content-section.active {
	display: block;
}

.content-section.active h1,
.content-section.active h4 {
	opacity: 0;
	animation: fadeIn 0.3s ease forwards;
}

.content-section.active ul {
	opacity: 0;
	animation: fadeIn 0.3s ease forwards;
	animation-delay: 0.3s;
}



.job-header {
	display: flex;
	justify-content: space-between; 
	align-items: center; 
	margin: 0; 
}

.skills li {
	list-style-type: none;
	background: #c26161;
	border-radius: 1.25ch;
	text-align: center;
	width: fit-content;
	padding: 0 8px;
	display: inline-block; 
  	margin-right: 1ch; 
	margin-bottom: 1ch;

	color: #f0f0f0;
	font-weight: 500;

	opacity: 0;
	animation: fadeIn 0.3s ease forwards;
	animation-delay: 0.6s;
}




/* Navigation Bar */
    .navbar {
        z-index: 3;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        top: 5vh;
        opacity: 0;

        animation: fadeIn 1.5s forwards;
        animation-delay: 1s;
    }

    .navbar a{
        font-size: 115%;
    }
    

    .navbar section, .navbar a:visited, .navbar a:link {
        white-space: nowrap; 
        float: left;
        margin: 1.15vw;
        text-align: center;

        color: #0a0a0a;
        font-weight: 575;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;

        border-bottom: 0.15em solid transparent;
    }

    .navbar a::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 2px; /* Adjust the border thickness as needed */
        background-color: #0a0a0a;
        transform-origin: left;
        transition: width 0.25s ease-in-out;
    }
    
    .navbar a:hover::after {
        width: 100%; /* Grows the border to the full width */
        left: 0;
        right: 0;
    }
/*--------------------*/
    
